body {
    background: rgb(188,184,255);
    background: linear-gradient(143deg, rgba(188,184,255,0.6) 0%, rgba(140,236,255,0.6) 100%);
}

.puffy-button {
    margin-top: 1rem;
    font-family: 'courier';
    font-weight: 600;
    font-size: 2rem;
    background: rgb(255,224,134);
    background: linear-gradient(0deg, rgba(255,224,134,1) 0%, rgba(255,249,244,1) 100%);
}

.fa-plus-square {
    color: #88cc00;
}

.fa-minus-square {
    color: #BB3333;
} 


.fullWidth {
    width: 100%;
}

#app {
}

#tempo {
    height: 100%;
}
.row {
    margin-bottom: inherit;
    margin-top: inherit;
}

.col-2.track-column {
    margin-bottom: inherit;
    margin-top: inherit;
}

.inactive-track {
    opacity: 0.50;
}

.active-track {
    opacity: 1.0;
}

.blue {
    background-color: blue;
    stroke-width: 3;
    fill: red; 
}